 <div class="mycontent"> 
    <div class="mycontens">
      <p>投稿一覧ページ</p>
        <% @myarticle.each do |article| %>
        <div class="content_post">
          <%= image_tag article.image%>
        </div>
        <% end %>
    </div>
</div>

