.loginPage {
      &_contents {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      &_title {
        margin-top: 12vh;
      }
      &_btn {
        display: block;
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
        border-radius: 30px;
        background: #fd5068;
        color: #fff;
      }
      }
    }
    .header_lists{
      display: flex;
      justify-content: flex-end;
      .food_list{
        color:#fd5068;
      } 
      .user_list{
        color:#fd5068;
      }
    }
    .navi_btn{
      display: flex;
      justify-content: space-between;
    }
    
    